

<table class="table">
    <tr *ngFor="let ans of apidata">
        <td>
            {{ans.id}}
        </td>
        <td>
            {{ans.name}}
        </td>
        <td>
            {{ans.username}}
        </td>
        <td>
            {{ans.email}}
        </td>
    </tr>
</table>

<table class="table">
    <tr *ngFor="let ans of userData">
        <td>
            {{ans.id}}
        </td>
        <td>
            {{ans.name}}
        </td>
        <td>
            {{ans.age}}
        </td>
    </tr>
</table>