<div class="container">

    <h4>Profile</h4>

    <hr><br>

    <div class="row">

        <div class="col-xl-4 text-center">

            <h5>
                {{showProfile.userName}}
            </h5>

            <h5>
                {{showProfile.userAge}}
            </h5>

            <h5>
                {{showProfile.userMobileNo}}
            </h5>

            <h5>
                {{showProfile.userEmail}}
            </h5>

            <hr>
            
        </div>

    </div>

</div>